<p style="color: green"><%= notice %></p>

<h1 class="text-center">Rentas de Peliculas</h1>

<%= link_to "Agregar nueva Renta", new_rental_path, class: "btn btn-success float-right mb-3" %>

<div class="d-flex justify-content-center">
  <div class="row justify-content-center align-items-center no-gutters">
    <%  @rentals.each do |rental| %>
      <div class="col-lg-2 px-">
        <div class="card" style="width: 90%;">
         
          <div class="card-body">
            <h6 class="card-title">Cliente: <%= rental.client.name %></h6>
            <p class="card-text">
              <span class="font-weight-bold">Pelicula en Renta: </span> <%= rental.movie.name %>
            </p>
            <a href="<%= edit_rental_path(rental) %>" class="btn btn-primary btn-sm">Editar</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>




